# MONGODB_URI=mongodb://127.0.0.1:27017/iot-api
# API_KEY=
# GEMINI_API_KEY=
# GEMINI_MODEL=gemini-1.5-flash
# GEMINI_TIMEOUT_MS=12000
# HOST=127.0.0.1
# PORT=8888

#MONGODB_URI=mongodb://127.0.0.1:27017/iot-api
#API_KEY=my_sensor_secret_123
#GEMINI_API_KEY=AIzaSyBFmIylfboBK-AhODLLuDeWmpvIft9Emc0
GEMINI_MODEL=gemini-1.5-flash
GEMINI_TIMEOUT_MS=12000
HOST=127.0.0.1
#PORT=8888